doctype html
html(lang="ru")
    head
        title Fe bootstrap
        script(src='http://localhost:35729/livereload.js')
        link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
        link(rel='stylesheet', href='css/bootstrap-theme.css', type='text/css')
        link(rel='stylesheet', href='css/app.css', type='text/css')
    body
        .navbar.navbar-inverse(role="navigation")
            .container
                .navbar-header
                    a.navbar-brand(href="#") Fe bootstrap
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.active
                            a(href="#") Home
                        li
                            a(href="#about") About

        .container
            block content

        script(src="js/jquery.js")
        script(src="js/bootstrap.js")
        script(src="js/App.js")
        block script
